body {
    font-family: sans-serif;
    background-image: url('pics/roses.jpg');
    background-size: cover; /* Adjust this as needed */
    background-repeat: repeat-y;
    background-position: center center;
    height: 100vh; 
  }

h1, h2, p{
    padding: 30 px;
}

.container {
    position: relative;
    margin: 30px auto;
    background-color: beige; /* Set the beige color */
    padding: 30px;
    height: auto;
    width: 1200px;
}

.question{
    margin-left: 20px;
    margin-bottom: 20px;
}

.mitevent{
    padding: 20px;
    overflow: hidden;
}

.column{
    float: left;
    width: 50%;
    box-sizing: border-box;
}


table{
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: 20px;
}

td{
    border: solid 1px black;
}

img {
    width: 300px;
    height: auto;
}