body {
    font-family: sans-serif;
    background-image: url('pics/roses.jpg');
    background-size: cover; /* Adjust this as needed */
    background-repeat: repeat-y;
    background-position: center center;
    height: 100vh; 
  }

h1, h2, p{
    padding: 30 px;
}

.container {
    position: relative;
    margin: 30px auto;
    background-color: beige; /* Set the beige color */
    padding: 30px;
    height: auto;
    width: 1200px;
}

.question{
    margin-left: 20px;
    margin-bottom: 20px;
}

.mitevent{
    padding: 20px;
    overflow: hidden;
}

.column{
    float: left;
    width: 50%;
    box-sizing: border-box;
}


table{
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: 20px;
}

td{
    border: solid 1px black;
}

img {
    display: block;
    width: 300px;
    height: auto;
}


.row {
    border: 1px solid #ccc;
    margin: 10px 0;
    overflow: hidden;
  }
  
  .row-header {
    background-color: #e10e0e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #333;
    transform-origin: 50% 50%;
    animation: none;
  }
  
  .triangle.active {
    animation: rotateTriangle 0.3s linear;
  }

  .row-content {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s;
  }

  figure {
    padding: 10px;
  }
  
  figcaption {
    display: block;
    font-style: italic;
    color: #777;
    font-size: 14px;
  }

  @keyframes rotateTriangle {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
  }